.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #ddd;
    width: 60%;
    height: auto;
    margin: auto;
    align-items: center;
}
.card{
    width: 400px;
    background: turquoise;
    margin: 20px;
    height: 400px;
    
}