body{
    background-color: #10BBB3;
}
.container{
    width: 80%;
    margin: auto;
    background-color: #fff;
    height: 100vh;
}
.header h1{
    text-align: center;
    text-transform: uppercase;
    color: tomato;
    cursor: pointer;
}